:root {
    // Background Colors (13)
    --bg-white-1: #ffffff;
    --bg-white-2: #ffffff1A;
    --bg-white-3: #ffffff80;
    --bg-green-1: #39ffbf;
    --bg-green-2: #35ffbf;
    --bg-blue: #527ceb;
    --bg-red-1: #f81d39;
    --bg-red-2: #f00e2e;
    --bg-dark-1: #3d3d3d;
    --bg-dark-2: #333333;
    --bg-dark-3: #1f1e38;
    --bg-dark-4: #4c4c4c;
    --bg-dark-5: #030303;

    // Text Colors (20)
    --tx-white-1: #ffffff;
    --tx-white-2: #ffffffB0;
    --tx-white-3: #ffffff99;
    --tx-white-4: #ffffff80;
    --tx-white-5: #ffffffB3;
    --tx-white-6: #ffffffcc;
    --tx-white-7: #ffffff66;
    --tx-green: #39ffbf;
    --tx-blue: #1bb0ce;
    --tx-red: #f81d39;
    --tx-grey-1: #aaaaaa;
    --tx-grey-2: #888888;
    --tx-grey-3: #818a91;
    --tx-grey-4: #8f8e9b;
    --tx-grey-5: #797888;
    --tx-grey-6: #626173;
    --tx-dark-1: #3d3d3d;
    --tx-dark-2: #444444;
    --tx-dark-3: #1f1e38;
    --tx-dark-4: #000000;

    //Fill Colors (2)
    --fill-white: #ffffff;
    --fill-black: #000000;

    //Border Colors (2)
    --border-white-1: #ffffff;
    --border-white-2: #ffffff26;
}